{% extends 'website/main.html' %}


{% block content %}
{% load static %}

<div class="about-us">
    <div class="projects-desc desc">
        <div class="col-60">
            <h1>About Us</h1>
            <p>At Code Labs, we are on a mission to empower individuals worldwide with cutting-edge coding education and foster a global community of passionate learners. From our headquarters in Panama to classrooms across the globe, we believe that coding knows no boundaries and has the power to transform lives.
            </p>
        </div>
        
    </div>
    <div class="desc">
        <div class="col-60">
            <h2>Our Vision</h2>
            <p>Our vision is to be a leading force in the realm of coding education, providing accessible and top-notch learning experiences to aspiring programmers of all ages and backgrounds. We envision a world where coding skills are not just a luxury but a fundamental tool for creativity, problem-solving, and innovation.</p>
        </div>
        
    </div>
    
    <div class="desc">
        <div class="col-60">
            <h2>Our Commitment to Excellence</h2>
            <p>We take immense pride in our team of dedicated instructors who are not only experts in their respective fields but also deeply passionate about teaching. With a focus on interactive and engaging teaching methods, our instructors inspire students to embrace the joys of learning and coding.</p>
        </div>
        
    </div>
    
    <div class="desc">
        <div class="col-60">
            <h2>Panama Roots, Global Reach</h2>
            <p>Although based in Panama, our reach extends far beyond borders. Through our virtual classrooms and online learning platforms, we bring coding education directly to learners around the world. Whether you’re in Panama, the United States, Europe, Asia, or anywhere else, our virtual classes ensure that quality coding education is accessible to all.</p>
        </div>
    </div>
    <div class="desc">
        <div class="col-60">
            <h2>Join Us on This Exciting Journey</h2>
            <p>
                Whether you’re a student eager to explore the world of coding or an organization seeking to upskill your team, we invite you to join us on this exhilarating journey of coding excellence. Embrace the boundless possibilities that coding offers, and let us empower you to write your own success story</p>
        </div>
    </div>
    


</div>

{% endblock content%}