{% extends 'website/main.html' %}


{% block content %}
{% load static %}

<div class="contact">
    <div class="projects-desc desc">
        <div class="col-60">
            <h1>Contact Us</h1>
            <p>Our team is ready to assist you and provide the support you need. Whether you’re interested in enrolling in our courses, have inquiries about our offerings, or need technical assistance, we’re here to help. Don’t hesitate to get in touch with us.
                Let’s take your coding journey to new heights together!<br><br>
                <span class="product-subheader">Email:</span> contact-us@codelacademy.com<br>
                <span class="product-subheader">Whatsapp:</span>+507 62814215
            </p>
        </div>
        
    </div>
</div>

{% endblock content%}