{% extends 'website/main.html' %}


{% block content %}
{% load static %}
<div class="desktop">
    <div class="hero">
        <div class="about">
            <h1>Embark</h1>
            <h1>In Your</h1>
            <h1>Coding</h1>
            <h1>Journey</h1>
            <p>The most efficient way to learn programming, and create the project of your dreams. </p>
            <button onclick="document.getElementById('our-product').scrollIntoView({ behavior: 'smooth' })">OUR PRODUCT</button>
        </div>
        <div class="hero-image-container">
                <img src="{% static 'website/images/computer-hero.png' %}" alt="hero image" class="computer-hero-image">
                <img src="{% static 'website/images/github-logo.png' %}" alt="hero image" class="github-hero-image">
                <img src="{% static 'website/images/python-logo.png' %}" alt="hero image" class="python-hero-image">
        </div>
    </div>
        
    <div class="featured-programs-container">
        <p>Featured programs</p>
        <div class="programs-container">
            <img src="{% static 'website/images/github-dark.png' %}" alt="featured program">
            <img src="{% static 'website/images/python-dark.png' %}" alt="featured program">
            <img src="{% static 'website/images/chatgpt-dark.png' %}" alt="featured program">
            <img src="{% static 'website/images/html-dark.png' %}" alt="featured program">
        </div>
    </div>
        
    <div class="course-structure-container" id="our-product">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="1028" viewBox="0 0 46 1028" fill="none">
            <path d="M20.8674 1027.13C22.0424 1028.3 23.9419 1028.29 25.11 1027.12L44.1463 1007.97C45.3144 1006.79 45.3089 1004.89 44.1339 1003.73C42.959 1002.56 41.0595 1002.56 39.8913 1003.74L22.9702 1020.76L5.95033 1003.84C4.77535 1002.67 2.87586 1002.67 1.7077 1003.85C0.539542 1005.02 0.545069 1006.92 1.72005 1008.09L20.8674 1027.13ZM17 0.00872935L19.9826 1025.01L25.9825 1024.99L23 -0.00872935L17 0.00872935Z" fill="#FFC91A"/>
        </svg>
        <h2>Course Structure</h2>
        <div class="program-card">
            <img src="{% static 'website/images/python-logo.png' %}" alt="featured program">
            <p class="program-title">python crash course</p>
            <p class="program-description"> Starting with Python basics, you'll learn about syntax, variables, and essential data structures like lists and dictionaries. We'll cover control structures and loops for flow management, progressing to writing your own functions for reusable code. The course also introduces basic input/output operations and error handling. This foundation, taught through practical examples in Colab, prepares you for advanced programming and personalized projects.</p>
        </div>
        <div class="program-card">
            <img src="{% static 'website/images/github-logo.png' %}" alt="featured program">
            <p class="program-title">repository management</p>
            <p class="program-description"> Guide you to create your virtual GitHub repository, manage it, use branches, and know everything you need to know. </p>
        </div>
        <div class="program-card">
            <img src="{% static 'website/images/project-creation.png' %}" alt="featured program">
            <p class="program-title">project Creation</p>
            <p class="program-description">On this part of the course, students will receive personalized mentorship from experienced instructors, enabling them to dive deeper into their specific interests, be it AI, gaming, or web development. This guidance helps refine their projects, ensuring a richer, more nuanced learning experience. Here, the focus is on expanding knowledge and skill sets beyond the basics, gearing students towards sophisticated project development and real-world application. This tailored mentorship is key to fostering a comprehensive and fulfilling educational journey.</p>
        </div>
    </div>
    
    <div class="testimonials-container">
        <p class="testimonials-title">Testimonials</p>
        <h2 class="read-testimonials">Read what others have to say</h2>
        <div class="testimonial-boxes-container">
            <div class="testimonial-card">
                <p class="testimonial">"It really helped my son create his own virtual portfolio and projects. A real boost if you're applying to a competitive college."</p>
            </div>
            <div class="testimonial-card">
                <p class="testimonial">"The project-oriented classes really helped me not only learn how to code, but also use it in real-life scenarios. The best investment I've ever made."</p>
            </div>
            <div class="testimonial-card">
                <p class="testimonial">"Learning how to manage and create a project with GitHub has opened so many professional doors for me and showed me how to collaborate in professional environments. Great course."</p>
            </div>
        </div>
    </div>
    
    <div class="schedule-box">
        <p class="ready-invitation">are you ready?</p>
        <h2 class="invitation">be a part of the next big thing</h2>
        <button onclick="window.location.href = 'https://booking.setmore.com/scheduleappointment/54f87408-6393-4c4d-8d9d-5d85eef1a2c5'" class="meeting-button">Schedule a meeting today</button>
    </div>
</div>

<div class="mobile">
    
    <div class="hero">
        <div class="about">
            <h2>Embark</h2>
            <h2>In Your</h2>
            <h2>Coding</h2>
            <h2>Journey</h2>
            <p>The most efficient way to learn programming, and create the project of your dreams. </p>
            <button onclick="console.log('fck u');document.getElementById('our-product-mobile').scrollIntoView({ behavior: 'smooth' })">OUR PRODUCT</button>
        </div>
        <div class="hero-image-container">
            <img src="{% static 'website/images/computer-hero.png' %}" alt="hero image" class="computer-hero-image">
        </div>
    </div>
    
    <div class="course-structure-container" id="our-product-mobile">
        <p class="program-title">Program Structure</p>
        <div class="program-slideshow">
            <div class="slide fade">
                <img src="{% static 'website/images/python-logo.png' %}" alt="featured program">
                <span class="course-percentage">50%</span>
                <span class="program-title">python crash course</span>
                <p class="program-description"> Starting with Python basics, you'll learn about syntax, variables, and essential data structures like lists and dictionaries. We'll cover control structures and loops for flow management, progressing to writing your own functions for reusable code.</p>
            </div>
            <div class="slide fade">
                <img src="{% static 'website/images/github-logo.png' %}" alt="featured program">
                <span class="course-percentage">10%</span>
                <span class="program-title">repository management</span>
                <p class="program-description"> Guide you to create your virtual GitHub repository, manage it, use branches, and know everything you need to know. </p>
            </div>
            <div class="slide fade">
                <img src="{% static 'website/images/project-creation.png' %}" alt="featured program">
                <span class="course-percentage">40%</span>
                <span class="program-title">project Creation</span>
                <p class="program-description">On this part of the course, students will receive personalized mentorship from experienced instructors, enabling them to dive deeper into their specific interests, be it AI, gaming, or web development. This guidance helps refine their projects, ensuring a richer, more nuanced learning experience.</p>
            </div>
            
            <!-- Add more slides as needed -->
            
            <!-- Navigation buttons -->
            <div class="nav-buttons">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
    
    <div class="features-container">
        <div class="feature"><span class="feature-title">One to One <br> Mentoring</span></div>
        <div class="feature"><span class="feature-title">Portfolio <br> Booster</span></div>
        <div class="feature"><span class="feature-title">Project <br> Oriented</span></div>
        <div class="feature"><span class="feature-title">Foundation <br> For Growth</span></div>
        <div class="feature"><span class="feature-title">Professional <br> Learning</span></div>
        <div class="feature"><span class="feature-title">Tailored <br> Projects</span></div>
    </div>
    
    <div class="video-container">
        <iframe width='100%' height='100%' src="https://www.youtube.com/embed/mPwCr294UKA" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="schedule-box">
        <p class="ready-invitation">are you ready?</p>
        <h2 class="invitation">be a part of the next big thing</h2>
        <button onclick="window.location.href = 'https://booking.setmore.com/scheduleappointment/54f87408-6393-4c4d-8d9d-5d85eef1a2c5'" class="meeting-button">Schedule a meeting today <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
            <circle cx="7.5" cy="8" r="7.5" fill="#8D8DDA"/>
        </svg></button>
    </div>
</div>
{% endblock content%}
