<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Code Labs Academy</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'website/images/mobile-logo.png' %}" /> 
        <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'/>    
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>    
        <link rel="stylesheet" href="{% static 'website/styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'website/images/favicon.ico' %}">
    </head>
    <body>
        {% include 'website/navbar.html' %}
        <div class="content">
            <div class="bg-circle first-circle"></div>    
            <div class="bg-circle second-circle"></div>    
            <div class="bg-circle third-circle"></div>    
        <div class="bg-circle fourth-circle"></div>
        {% block content %}
        
        {% endblock %}
        <div class="footer desktop-footer">
            <div class="footer-col">
                <p class="footer-col-title codelabs-title">Code Labs Academy</p>
                <div class="col-content">
                    <a href="{% url 'home' %}" class="footer-link">Home</a>
                    <a href="{% url 'about' %}" class="footer-link">About</a>
                    <a href="{% url 'product' %}" class="footer-link">Course</a>
                    <a href="{% url 'contact' %}" class="footer-link">Contact</a>
                </div>
            </div>
            <div class="footer-col">
                <p class="footer-col-title">Content</p>
                <div class="col-content">
                    <a href="{% url 'home' %}" class="footer-link">Browse</a>
                    <a href="{% url 'product' %}" class="footer-link">Projects</a>
                </div>
            </div>
            <div class="footer-col">
                <p class="footer-col-title">Contact</p>
                <div class="col-content">
                    <a href="mailto:contact-us@codelacademy.com" class="footer-link">Email</a>
                    <a href="" class="footer-link">LinkedIn</a>
                    <a href="https://www.instagram.com/codelabpty/" class="footer-link">Instagram</a>
                    <a href="https://twitter.com/codelacademy" class="footer-link">X</a>
                </div>
            </div>
            <div class="footer-col newsletter-col">
                <p class="footer-col-title newsletter-title">Join our newsletter</p>
                <div class="col-content">
                    <form action="#" method="post" class="newsletter-form">
                        {% csrf_token %}
                        <input type="email" id="email" name="email" placeholder="Email Address" required>
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer mobile-footer">
            <div class="footer-col">
                <p class="footer-col-title codelabs-title">Code Labs Academy</p>
                <div class="col-content">
                    <a href="{% url 'home' %}" class="footer-link">Home</a>
                    <a href="{% url 'about' %}" class="footer-link">About</a>
                    <a href="{% url 'product' %}" class="footer-link">Course</a>
                    <a href="{% url 'contact' %}" class="footer-link">Contact</a>
                </div>
            </div>
            <div class="footer-col">
                <p class="footer-col-title">Content</p>
                <div class="col-content">
                    <a href="{% url 'home' %}" class="footer-link">Browse</a>
                    <a href="{% url 'product' %}" class="footer-link">Projects</a>
                </div>
            </div>
            <div class="footer-col">
                <p class="footer-col-title">Contact</p>
                <div class="col-content">
                    <a href="mailto:contact-us@codelacademy.com" class="footer-link">Email</a>
                    <a href="" class="footer-link">LinkedIn</a>
                    <a href="https://www.instagram.com/codelabpty/" class="footer-link">Instagram</a>
                    <a href="https://twitter.com/codelacademy" class="footer-link">X</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'website/js/scripts.js' %}"></script>
</body>
</html>