/* styles.css */

/* Basic Reset */

html{
    overflow-x: hidden;
}
body, h1, h2, h3, p, ul, li, a, .container, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #FFF;
    font-family: Outfit;
    vertical-align: baseline;
    
}

body{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Box-sizing for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{
    color: #FFF;

    /* H1 - Main Heading */
    font-family: Outfit;
    font-size: 87px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 87px */
    text-transform: capitalize;
}
h2{
    color: #FFF;

    /* H2 */
    font-family: Outfit;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 57px */
    text-transform: capitalize;
}
p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 152.778% */
}
/* Base styles with improved typography */
body {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000235; /* Consider testing for contrast and accessibility */
    padding: 0px;
    min-width: 100%;
    margin: 0;
    
}
body::-webkit-scrollbar{
    width: 4px;
    background: #1A265C;
}
body::-webkit-scrollbar-thumb{
    width: 4px;
    background: #FEC917;
}


.bg-circle{
    position: absolute;
    border-radius: 679px;
    width: 679px;
    height: 679px;
    flex-shrink: 0;
    filter: blur(153px);
    z-index: -1;
}

.first-circle,.fourth-circle{
    background: rgba(141, 141, 218, 0.50);
}
.second-circle,.third-circle{
    background: rgba(171, 217, 217, 0.80);
}

.first-circle{
    left: 8%;
    top: -8%;
}
.second-circle{
    left: 88%;
    top: 12%;

}
.third-circle{
    left: -34%;
    top: 55%;

}
.fourth-circle{
    left: 81.875%;
    bottom: 0%;

}

.desktop > *,.mobile> *{
    z-index: 1;
}

.header{
    position: absolute;
    width: 100%!important;
    display: flex;
    flex-direction: row;
    gap:32.56%;
    padding-top: 14px;
    padding-left: 29px;
}

.logo{
    width: 236px;
    height: auto;
    flex-shrink: 0;
}
.navbar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap:3.2%;
    justify-content: center;
    align-items: center;
}

.navbar a{
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 161.765% */
    text-transform: uppercase;
    text-decoration: none;
}
.schedule-button{
    display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 60px;
    background: #2D2879;
}

.schedule-button:hover{
    background: #FFC91A!important;
    color: #224471 !important;;
}


.hero{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    gap:19.56%;
}

.about p{
    margin-top: 16px;
    width:373px;
    margin-bottom: 43px;
}
.about button{
    width: 253px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 83px;
    background: #8D8DDA;
    color: #FFF;
    border:transparent;
    
    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all ease-in-out;
}
button:hover::not(.navbar-burger){
    background: #FFC91A!important;
    color: #224471 !important;;


}
.hero-image-container{
    position: relative;
    display: flex;
    float:right;
    width: 511px;
    height: 544px;
    flex-shrink: 0;
    
}

.computer-hero-image,
.github-hero-image,
.python-hero-image {
    position: absolute !important; /* Use !important to ensure these rules take precedence */
}

.computer-hero-image{
    width: 511px;
    max-height: 544px;
    flex-shrink: 0;
}

.github-hero-image{
    right: 0;
    bottom: 2%;
    width: 180px;
    height: auto;
    flex-shrink: 0;
}
.python-hero-image{
    top: 0;
    left: 0;
    width: 203px;
    height: 195px;
    flex-shrink: 0;
}

.featured-programs-container{
    width: 100%;
    margin-top: 81px;
}
.featured-programs-container p{
    width: 168px;
    color: #FFF;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.programs-container{
    margin-top: 11px;
    border-radius: 7px;
    background: rgba(99, 88, 189, 0.19);
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.programs-container img{
    width: 75px;
    height: 75px;
}
.program-card{
    border-radius: 50px;
    background: #22245D;
}
.course-structure-container{
    width: 100%;
    margin-top: 81px;
    position: relative;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(50%);
        scale:0; 
    }
    to {
        opacity: 1;
        transform: translateY(0);
        scale:100%;
      }
  }
.program-card{
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-range: entry 30% cover 60%;
    animation-fill-mode: both;
    animation-name:show;
    border-radius: 50px;
    background: #22245D;
    margin:24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    text-align: center;
    gap:16px;
    min-height: 308px;
}
.program-card img{
    width:100px;
    height: auto;
}
.program-title{
    color: #FFF;

    text-align: center;
    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.program-description{
    color: #FFF;

    text-align: center;
    /* Body text */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 152.778% */
}
.course-structure-container svg{
    position: absolute;
    left:-6%;
    top:8%;
}
.testimonials-container{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:00;
    text-align: center;
}
.testimonials-title{
    color: #ABD9D9;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.read-testimonials{
    width: 50%;
    margin-bottom: 64px;
}
.testimonial-card{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    width: 33.333%;  
    padding: 20px;
    min-height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial-boxes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:12px
}

.testimonial-profile{
    width: 100px;
    height: auto;
    border-radius: 100%;
    mix-blend-mode: luminosity;
    margin-bottom: 12px;
}
.testimonial-name{
    color: #FFF;

/* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.schedule-box{
    margin:128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(279deg, #ABD9D9 -20.32%, #5151C6 103.51%);
    padding:56px 0;
}
.ready-invitation{
    color: #000;
    text-align: center;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.invitation{
    margin-bottom: 28px;
    width: 40%;
    text-align: center;
}
.meeting-button{
    display: inline-flex;
    padding: 22px 71px;
    align-items: center;
    gap: 10px;
    border-radius: 83px;
    background: #000;
    color: #FFF;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    border:transparent;
}

.footer{
    display: flex;
    flex-direction: row;
    padding:0 0;
    justify-content: space-between;
    align-items: flex-start;
}
.col-content{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.footer-link{
    color: #FFF;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
    text-decoration: none;
}

.footer-col-title{
    color: #FFF;

    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.codelabs-title{
    color: #FFF;

    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.newsletter-title{
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.newsletter-form{
    padding:0 24px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    border-radius: 70px;
    background: #13124F;    
}
.newsletter-form input{
    background-color: transparent;
    border: 0;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
    /* opacity: 0.7; */
}
.newsletter-form button{
    padding:12px 24px;
    border-radius: 83px;
    background: #8D8DDA;
    display: flex;
    width: 124px;
    height: 43px;
    padding: 22px 71px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 196.429% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 0;
}

.newsletter-form input:focus-visible {
    outline: none;
}

/* Cascade animation for text */
.about h1,
.about p,
.about button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-in animation for images */
.hero-image-container img {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Stagger the animation delay for each element in the cascade */
.about h1:nth-child(1) {
  animation-delay: 0s;
}

.about h1:nth-child(2) {
  animation-delay: 0.2s;
}

.about h1:nth-child(3) {
  animation-delay: 0.4s;
}

.about h1:nth-child(4) {
  animation-delay: 0.6s;
}

.about p {
  animation-delay: 0.8s;
}

.about button {
  animation-delay: 1s;
}

/* Stagger the animation delay for each image */
.hero-image-container img:nth-child(1) {
  animation-delay: 1.2s;
}

.hero-image-container img:nth-child(2) {
  animation-delay: 1.4s;
}

.hero-image-container img:nth-child(3) {
  animation-delay: 1.6s;
}

#Setmore_button_iframe{
    display:none!important;
}

.desc{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 64px;
}
.projects p,.contact p, .about-us p{
    margin-top:16px;
}
.col-60{
    flex:3;
    float:left;
    box-sizing: border-box;
}
.col-40{
    content: " ";
    position: relative;
    min-height: 100%;
    flex:2;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
}

/* Optional: Add margin to create space between columns */
.col + .col {
  margin-left: 10px; /* Adjust the margin as needed */
}
.projects img,.contact img, .about img{
    width: 360px;
}

.product-subheader{
    color: #FFF;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product-image{
    position: relative;
    width: 200px!important;
}

.m1{
    transform: translateX(0);
}

.m2{
    transform: translateX(100%);
}

.m3{
    transform: translateX(0);
}

.m4{
    transform: translateX(100%);
}

.m5{
    
    transform: translateX(0);
}

.m6{
    transform: translateX(70%);
}
.m7{
    top:0;
    /* transform: translateY(-50%); */

    
}

.video-container{
    border: 4px solid #e2e2ea;
    background: #8D8DDA;
}

.video-container{
    min-height: 0;
    padding-top: 56.25%; 
    position: relative;
    overflow: hidden;
    width: 100%;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
@media screen and (max-width: 767px) {
    h1{
        font-size:4em;
    }
    h2{
        font-size:3.2em;
    }
    .mobile{
        display: block;
        overflow-x: hidden;
    }
    .mobile-footer{
        display:flex;
    }
    .content, body{
        overflow-x: hidden;
    }
    .desktop, .desktop-footer{
        display:none;
    }
    .mobile-nav{
        display: flex;
    }
    .desktop-nav{
        display:none;
    }


    .content{
        padding:12% 6%;
    }
    .header{
        background-color: #8D8DDA25;
    }
    .header{
        position: relative;
        padding:1em 1em;
        gap:0;
        justify-content:space-between;
    }
    .logo{
        width: 77px;
        z-index: 99;
    }
    .navbar-burger{
        background:transparent;
        border:0;
    }
    .navbar-burger svg{
        width:64px;
    }
    .navbar{
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #8D8DDA25;
        padding: 15px;
        top:100%;
    }
    .about{
        display:flex;
        flex-direction:column;
    }
    .about h2{
        color: #FFF;
        font-family: Outfit;
        font-size: 57px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 57px */
        text-transform: capitalize;
    }
    .hero-image-container{
        float: left;
        width: 150px;    
        height: 150px;    
        left:60%;
        top:9.5%;
        position: absolute;
    }
    .computer-hero-image{
        width: 150px;
        left:0;
    }
    .hero{
        margin-top: 5em;
        gap:0;
        flex-direction: column;
    }
    .hero p{
        max-width: 80%;
    }
    .hero button{
        align-self: center;
        display: inline;
        margin: 0 auto;
    }
    .course-structure-container{
        margin:0;
    }
    .program-slideshow{
        margin-top: 20px;
        min-height: 600px;
        border-radius: 20px;
        background: rgba(144, 145, 220, 0.20);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:2em;
        position: relative;
    }
    .newsletter-form, .newsletter-col{
        display:none;
    }
    .footer-col-title{
        display: none;
    }
    .invitation{
        color: #FFF;
        text-align: center;

        /* SUB HEADER */
        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 27.5px; /* 137.5% */
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 80%;
    }
    .schedule-box{
        margin: 64px 0;
        padding: 2em 1em;
    }
    .video-container{
        margin: 64px 0;
    }
    .meeting-button{
        padding: 1em 2em;
    }

    body{
        position: relative;
    }

    .first-circle {
        left: -50%;
        top: -8%;
    }

    .second-circle {
        left: 50%;
        top: 12%;
    }

    .third-circle {
       display: none;
    }
    .fourth-circle {
        left: 50%;
        bottom: 0%;
    }

    .features-container{
        margin: 64px 0;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        justify-items: center; /* Center items horizontally */
        align-items: center;
    }

    .feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 0 transparent;
        background: rgba(144, 145, 220, 0.20);
        border:2px solid #FFC91A90;
        /* background: linear-gradient(315deg, #ABD9D9 0%, #5151C6 100%), linear-gradient(180deg, #8D8DDA 0%, #E5E5E5 100%); */
    }
    .feature-title{
        color: #e2e2ea;
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
    }
    
    .slide{
        display: none;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        /* padding: 2em; */
    }
    .slide > *{
        margin: 8px 0;
    }
    .slide p{
        text-align: justify;
    }
    .slide img{
        width:140px
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171;
    }
    .nav-buttons{
        position: absolute;
        border-radius: 20px;
        /* opacity: 0.1; */
        background-color: #D9D9D916;
        padding:0.5em;
        bottom: 1em;
    }
    .course-percentage{
        position: absolute;
        left:1em;
        top:.5em;
        color: #9091DC;

        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 27.5px; /* 137.5% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .projects .col-40{
        display: none;
    }
    
    /* Additional mobile styles go here */

}

/* Responsive styles for desktop devices */
@media screen and (min-width: 768px) {
    .mobile,.mobile-footer{
        display: none;
    }
    .desktop{
        display:block;
    }

    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        display:flex;
    }
    .video-container{
        margin-top:180px;
    }


    .content{
        padding:8% 13%;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 20px; /* Adjust the gap as needed */
        justify-content: space-between;
    }

    /* Additional desktop styles go here */
}