/* styles.css */

/* Basic Reset */
body, h1, h2, h3, p, ul, li, a, .container, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #FFF;
    font-family: Outfit;
    vertical-align: baseline;
}

/* Box-sizing for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{
    color: #FFF;

    /* H1 - Main Heading */
    font-family: Outfit;
    font-size: 87px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 87px */
    text-transform: capitalize;
}
p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 152.778% */
}
/* Base styles with improved typography */
body {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000235; /* Consider testing for contrast and accessibility */
    padding: 0px;
    min-width: 100%;
    margin: 0;
    
}
body::-webkit-scrollbar{
    width: 4px;
    background: #1A265C;
}
body::-webkit-scrollbar-thumb{
    width: 4px;
    background: #FEC917;
}
.bg-circle{
    position: absolute;
    border-radius: 679px;
    width: 679px;
    height: 679px;
    flex-shrink: 0;
    filter: blur(153px);
}

.first-circle,.fourth-circle{
    background: rgba(141, 141, 218, 0.50);
}
.second-circle,.third-circle{
    background: rgba(171, 217, 217, 0.80);
}

.first-circle{
    left: 7.84%;
    top: -319px;
}
.second-circle{
    left: 86.875%;
    top: 574px;

}
.third-circle{
    left: -34%;
    top: 2065px;

}
.fourth-circle{
    left: 81.875%;
    top: 3348px;

}

.header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:32.56%;
    padding-top: 14px;
    padding-left: 29px;
}

.logo{
    width: 236px;
    height: auto;
    flex-shrink: 0;
}
.navbar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap:3.2%;
    justify-content: center;
    align-items: center;
}

.navbar a{
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 161.765% */
    text-transform: uppercase;
    text-decoration: none;
}
.schedule-button{
    display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 60px;
    background: #2D2879;
}

.hero{
    height: 100vh;
    width: 100%;
    border:1px dashed red;
}
.about{
    margin-left: 13%;
    margin-top: 11.32%;
}
.about p{
    width:373px;
    margin-bottom: 43px;
}
.about button{
    width: 253px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 83px;
    background: #8D8DDA;
    color: #FFF;

    /* SUB HEADER */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
}